section {
    background-color: #121212;
    width: 100%;
    height: 100vh;
    background-image: url('../../public/images/ai_background_7.jpg');
    background-size: cover;
}

div{
    color: white;
}
