.project-card-container{
    font-family: 'nunito';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.card{
    aspect-ratio: 1/1;
    width: 100%;
    border: 1px solid rgb(96, 165, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.image-container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.project-title-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(53, 52, 52);
    border-radius: 0 0 10px 10px;
}

.project-title a{
    color: rgb(96, 165, 250);
    text-decoration: none;
}

.project-card-container a:hover{
    color: white;
}

@media (max-width: 750px) {

    .card{
        width: 80%;
    }

}